body {
  background-color: #f9f7fe;
}

a {
  color: #2e0a89;
}

.weather {
  background: rgb(197, 36, 36);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #e1dfe6;
  padding: 0 0 30px 0;
}

.search-form-city {
  background-color: #f7f4f6;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #e9e8eb;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: rgb(197, 36, 36);
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-details {
  font-size: 16px;
  color: rgba(2, 1, 7, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-details strong {
  color: #dc9db0;
}

.weather-temperature-container {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}